/* Main CSS page for blog_post.html */


body, a {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 200%;
	font: inherit;
	vertical-align: baseline;
    background-color: #2a2f4a;
    color: #f56c22;
    font-family: "Gill Sans", sans-serif;
}

/* establish the grid */
.wrapper {
    padding: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas:
    "hd"
    "feat"
    "main";
}


.header{
    grid-area: hd;
}

.feature {
    display: grid;
    width: auto;
    padding: 10px 5px;
    border: .5px;
    float: left;
    grid-area: feat;
}

.content {
    border: .5px;
    padding: 10px 5px;
    float: right;
    padding-bottom: 200px;
    grid-area: main;
}

/*

 */
